:root {
  --baby-primary-color: #1677ff;
  --baby-success-color: #00a870;
  --baby-warning-color: #ed6a0c;
  --baby-danger-color: #d93026;
  --baby-text-color: #1f2329;
  --baby-border-color: #dcdfe6;
  --baby-background-color: #ffffff;
}

[class^='baby-'],
[class*=' baby-'] {
  box-sizing: border-box;
}
